html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui;
  margin: 0;

  /* OVERFLOW HIDDEN Y */
  overflow-y: hidden;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
